<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>历史渔场数据分析</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../static/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="../../static/css/public.css" media="all">
    <style>
        .top-panel {
            border: 1px solid #eceff9;
            border-radius: 5px;
            text-align: center;
        }

        .top-panel > .layui-card-body {
            height: 60px;
        }

        .top-panel-number {
            line-height: 60px;
            font-size: 30px;
            border-right: 1px solid #eceff9;
        }

        .top-panel-tips {
            line-height: 30px;
            font-size: 12px
        }
    </style>
</head>
<body>
<!--<div class="layuimini-container">-->
<div class="layuimini-main">


    <div class="table-search-fieldset" style="background-color:#ffffff;margin-bottom: 10pt;padding: 10px 10px 5px 10px">

        <div style="margin: 10px 10px 10px 10px">
            <form class="layui-form layui-form-pane" action="">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">渔场</label>
                        <div class="layui-input-inline">
                            <select name="fishery_name" lay-verify="required" id="fishery_name">
                                <option value="西屯桥渔场">西屯桥渔场</option>
                                <option value="北洋桥渔场">北洋桥渔场</option>
                                <option value="井冈山桥渔场">井冈山桥渔场</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <span class="layui-btn layui-btn-primary" onclick="changeCity()"><i
                                class="layui-icon"></i> 搜 索
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="layui-row layui-col-space15">
        <div class="layui-col-xs12 layui-col-md4">
            <div id="turbidity-pies" style="background-color:#ffffff;min-height:400px;padding: 10px">
            </div>
        </div>
        <div class="layui-col-xs12 layui-col-md8">
            <div id="temp-records" style="background-color:#ffffff;min-height:400px;padding: 10px"></div>
        </div>
    </div>

    <div class="layui-row layui-col-space15">
        <div class="layui-col-xs12 layui-col-md6">
            <div id="ph-pies" style="background-color:#ffffff;min-height:400px;padding: 10px">
            </div>
        </div>
        <div class="layui-col-xs12 layui-col-md6">
            <div id="oxygen-pies" style="background-color:#ffffff;min-height:400px;padding: 10px"></div>
        </div>
    </div>

</div>
<!--</div>-->
<script src="../../static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script src="../../static/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script>
    layui.use(['layer', 'echarts', 'form'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            form = layui.form,
            echarts = layui.echarts;
        data_history();

        function data_history(result = '北洋桥渔场') {
            $.get('/data/history/situation?fishery_name=' + result, '', function (res) {
                let turbidity_data = res.turbidity_data.turbidity_data;
                let ph_data = res.ph_data.ph_value_data;
                let oxygen_data = res.oxygen_data.dissolved_oxygen_data;
                let temp_data = res.temp_data;

                function categorizeData(data, ranges) {
                    let categorized = {};
                    ranges.forEach(range => {
                        categorized[range.name] = 0;
                    });

                    data.forEach(value => {
                        for (let i = 0; i < ranges.length; i++) {
                            if (ranges[i].check(value)) {
                                categorized[ranges[i].name]++;
                                break;
                            }
                        }
                    });

                    return categorized;
                }

                let turbidity_ranges = [
                    { name: '4', check: (v) => v == 4 },
                    { name: '5', check: (v) => v == 5 },
                    { name: '6', check: (v) => v == 6 },
                    { name: '7', check: (v) => v == 7 },
                    { name: '8', check: (v) => v == 8 },
                    { name: '9', check: (v) => v == 9 },
                    { name: '10', check: (v) => v == 10 },
                    { name: '11', check: (v) => v == 11 },
                    { name: '12', check: (v) => v == 12 },
                ];

                let ph_ranges = [
                    { name: '<7.5', check: (v) => v < 7.5 },
                    { name: '7.5-7.8', check: (v) => v >= 7.5 && v < 7.8 },
                    { name: '7.8-8.1', check: (v) => v >= 7.8 && v < 8.1 },
                    { name: '8.1-8.4', check: (v) => v >= 8.1 && v < 8.4 },
                    { name: '8.4-8.7', check: (v) => v >= 8.4 && v < 8.7 },
                    { name: '>8.7', check: (v) => v >= 8.7 }
                ];

                let oxygen_ranges = [
                    { name: '<8', check: (v) => v < 8 },
                    { name: '8-12', check: (v) => v >= 8 && v < 12},
                    { name: '12-16', check: (v) => v >= 12 && v < 16 },
                    { name: '>16', check: (v) => v >= 16 }
                ];

                let categorizedTurbidityData = categorizeData(turbidity_data, turbidity_ranges);
                let categorizedPhData = categorizeData(ph_data, ph_ranges);
                let categorizedOxygenData = categorizeData(oxygen_data, oxygen_ranges);

                /**
                 * 浊度范围分布
                 */
                var turbidityPies = echarts.init(document.getElementById('turbidity-pies'), 'walden');
                var optionTurbidityPies = {
                    title: {
                        text: '历史浊度分布',
                        left: 'center'
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: '{a} <br/>{b} : {c} ({d}%)'
                    },
                    legend: {
                        orient: 'vertical',
                        left: 'left',
                        data: Object.keys(categorizedTurbidityData),
                    },
                    series: [
                        {
                            name: '历史浊度',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '60%'],
                            roseType: 'radius',
                            data: Object.keys(categorizedTurbidityData).map(key => ({ value: categorizedTurbidityData[key], name: key })),
                            emphasis: {
                                itemStyle: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };
                turbidityPies.setOption(optionTurbidityPies);

                /**
                 * PH范围分布
                 */
                var phPies = echarts.init(document.getElementById('ph-pies'), 'walden');
                var optionPhPies = {
                    title: {
                        text: '历史PH值分布',
                        left: 'center'
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: '{a} <br/>{b} : {c} ({d}%)'
                    },
                    legend: {
                        orient: 'vertical',
                        left: 'left',
                        data: Object.keys(categorizedPhData),
                    },
                    series: [
                        {
                            name: '历史PH值',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '60%'],
                            roseType: 'radius',
                            data: Object.keys(categorizedPhData).map(key => ({ value: categorizedPhData[key], name: key })),
                            emphasis: {
                                itemStyle: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };
                phPies.setOption(optionPhPies);

                /**
                 * 溶解氧范围分布
                 */
                var oxygenPies = echarts.init(document.getElementById('oxygen-pies'), 'walden');
                var optionOxygenPies = {
                    title: {
                        text: '历史溶解氧分布',
                        left: 'center'
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: '{a} <br/>{b} : {c} ({d}%)'
                    },
                    legend: {
                        orient: 'vertical',
                        left: 'left',
                        data: Object.keys(categorizedOxygenData),
                    },
                    series: [
                        {
                            name: '历史溶解氧',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '60%'],
                            roseType: 'radius',
                            data: Object.keys(categorizedOxygenData).map(key => ({ value: categorizedOxygenData[key], name: key })),
                            emphasis: {
                                itemStyle: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };
                oxygenPies.setOption(optionOxygenPies);

                /**
                 * 温度变化
                 */
                var tempRecords = echarts.init(document.getElementById('temp-records'), 'walden');
                var optionTempRecords = {
                    title: {
                        text: '温度变化分析'
                    },
                    tooltip: {
                        trigger: 'axis',
                        formatter(params) {
                            console.log("aaa", params);
                            var relVal = params[0].name;
                            for (var i = 0, l = params.length; i < l; i++) {
                                relVal += '<br/>' + params[i].marker + params[i].seriesName + ' : ' + params[i].value + '℃';
                            }
                            return relVal;
                        },
                        axisPointer: {
                            type: 'cross',
                            label: {
                                backgroundColor: '#6a7985'
                            }
                        }
                    },
                    legend: {
                        data: ['温度']
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            type: 'category',
                            boundaryGap: false,
                            data: temp_data.x
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            axisLabel: {
                                formatter: '{value} ℃'
                            }
                        }
                    ],
                    series: [
                        {
                            name: '最高温度',
                            type: 'line',
                            stack: '最高温度',
                            areaStyle: {},
                            data: temp_data.high_temp_data
                        },
                        {
                            name: '最低温度',
                            type: 'line',
                            stack: '最低温度',
                            areaStyle: {},
                            data: temp_data.low_temp_data
                        }
                    ]
                };
                tempRecords.setOption(optionTempRecords);

                // echarts 窗口缩放自适应
                window.onresize = function () {
                    tempRecords.resize();
                    phPies.resize();
                    oxygenPies.resize();
                    turbidityPies.resize();
                };
            });
        }

        // 监听搜索操作
        window.changeCity = function () {
            data_history($('#fishery_name').val());
        };

    });
</script>



</body>
</html>
